apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - namespace.yaml

commonLabels:
  app.kubernetes.io/name: test-app
  app.kubernetes.io/instance: test-app-base
  app.kubernetes.io/managed-by: kustomize